# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Standalone ZooKeeper for the IPv6-only HA harness, run from the Hadoop image
# via the bundled zookeeper jar. clientPortAddress=:: binds the client port on
# the IPv6 wildcard so ZKFC connects over IPv6. No server.N line -> standalone.
tickTime=2000
initLimit=10
syncLimit=5
dataDir=/data/zk
clientPort=2181
clientPortAddress=::
admin.enableServer=false
4lw.commands.whitelist=*
